/* bule and gray */
:root {
    --first-color: #8b8c89;
    --second-color: #a3cef1;
    --third-color: #6096ba;
    --fourth-color: #274c77;
    --fifth-color: #e7ecef;
    --sixth-color: #000000;
  }


  /* purple and viol  */
  :root {
    --first-color: #191825;
    --second-color: #865DFF;
    --third-color: #E384FF;
    --fourth-color: #FFA3FD;
    --fifth-color: #ffffff;
    --sixth-color: #000000;
  }

  /* purple 90s */
  :root {
    --first-color: #a28089;
    --second-color: #8458B3;
    --third-color: #d0bdf4;
    --fourth-color: #e5eaf5;
    --fifth-color: #a0d2eb;
    --sixth-color: #000000;
  }

  /* blue and tan, sand  */
  :root {
    --first-color: #e1b382;
    --second-color: #c89666;
    --third-color: #2d545e;
    --fourth-color: #12343b;
    --fifth-color: #ffffff;
    --sixth-color: #000000;
  }

  /* Red & Gray  */
  :root {
    --first-color: #d80032;
    --second-color: #ef233c;
    --third-color: #edf2f4;
    --fourth-color: #8d99ae;
    --fifth-color: #2b2d42;
    --sixth-color: #000000;
  }

  :root {
    --first-color: #2ec4b6;
    --second-color: #cbf3f0;
    --third-color: #ffffff;
    --fourth-color: #ffbf69;
    --fifth-color: #ff9f1c;
    --sixth-color: #000000;
  }

  /* Royal Blue and Peach */
  :root {
    --first-color: #191825;
    --second-color: #475053;
    --third-color: #E384FF;
    --fourth-color: #FFA3FD;
    --fifth-color: #ffffff;
    --sixth-color: #000000;
  }